.left {
display: block;
float: left;
margin: 20px;
}

.right {
  display: block;
  float: right;
}

.title2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 20px;
}

.small {
  width: 300px;
  height: auto;
  margin: 5px 0 60px 0;
}

.imgName {
  font-weight: bold;
}

.bigImg {
  width: 900;
  height: auto;
}

.paragraph {
  margin: 0 20px 0 20px;
}

.container {
  width: 900px;
}

.navBar {
  background-color: red;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
  padding: 20px;
}

.header{
font-size: 30px;
font-weight: bold;
color: white;
float: left;
}

.login{
  font-weight: bold;
  color: white;
  float: right;
}

.greyNavBar {
  list-style-type: none;
  background-color: grey;
  overflow: hidden;
  margin: 0;
  color: white;
  text-align: right;
  padding: 10px;
}

.greyNavBar.li {
  display: inline;
}