.left {
display: block;
float: left;
margin: 20px;
}

.right {
  display: block;
  float: right;
}

.title2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 20px;
}

.small {
  width: 300px;
  height: auto;
  margin: 5px 0 60px 0;
}

.imgName {
  font-weight: bold;
}

.bigImg {
  width: 900;
  height: auto;
}

.paragraph {
  margin: 0 20px 0 20px;
}

.container {
  width: 900px;
}